/*colors*/
body {
  position: relative; }

/*Animacion principal*/
.splash {
  background-color: #191919;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  position: relative;
  width: 100%;
  height: 500px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden; }
  .splash_logo {
    position: absolute;
    margin: -15px 0 0 -25px;
    top: 35vh;
    z-index: 5;
    left: 50vw;
    width: 50px;
    text-align: center;
    height: 30px;
    font-size: 24px;
    font-weight: 600;
    color: #ffffff;
    opacity: 1;
    will-change: opacity;
    -webkit-animation: logo .3s ease-in 1.5s forwards, off .6s ease-in-out 3.2s forwards;
    -moz-animation: logo .3s ease-in 1.5s forwards, off .6s ease-in-out 3.2s forwards;
    -o-animation: logo .3s ease-in 1.5s forwards, off .6s ease-in-out 3.2s forwards;
    animation: logo .3s ease-in 1.5s forwards, off .6s ease-in-out 3.2s forwards; }
    .splash_logo:before {
      display: block;
      position: absolute;
      left: 15px;
      bottom: -5px;
      width: 20px;
      height: 1px;
      background-color: #757474;
      content: ""; }
    .splash_logo:after {
      display: block;
      position: absolute;
      left: 15px;
      top: -10px;
      width: 20px;
      height: 1px;
      background-color: #757474;
      content: "";
      will-change: width; }
    .splash_logo p {
      padding: 0px;
      margin: 0px 0px 0px 0px;
      text-align: center; }
  .splash_svg {
    position: relative;
    margin: auto;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    bottom: 0;
    right: 0; }
    .splash_svg svg {
      width: 100%;
      height: 100%;
      -webkit-backface-visibility: visible;
      backface-visibility: visible; }
      .splash_svg svg rect {
        width: 100%;
        height: 100%;
        fill: #d4b3ab;
        stroke: 0;
        -webkit-clip-path: polygon(45vw 30vh, 55vw 30vh, 55vw 40vh, 45vw 40vh);
        clip-path: polygon(45vw 30vh, 55vw 30vh, 55vw 40vh, 45vw 40vh);
        -webkit-animation: expand .7s ease-in forwards 2.7s;
        -moz-animation: expand .7s ease-in forwards 2.7s;
        -o-animation: expand .7s ease-in forwards 2.7s;
        animation: expand .7s ease-in forwards 2.7s; }
  .splash .text {
    opacity: 0;
    position: absolute;
    z-index: 7;
    text-align: left;
    margin: 0;
    width: 100%;
    height: 100px;
    top: 25%;
    left: 30%;
    font-size: 48px;
    font-weight: 500;
    font-family: 'Raleway', sans-serif;
    color: white;
    text-shadow: 5px 5px 5px #757474;
    -webkit-animation: on 1s linear 3.7s forwards;
    -moz-animation: on 1s linear 3.7s forwards;
    -o-animation: on 1s linear 3.7s forwards;
    animation: on 1s linear 3.7s forwards; }
    .splash .text p {
      margin: 20px 0px;
      white-space: nowrap;
      overflow: hidden;
      width: 100%;
      -webkit-animation: type 1s steps(60, end) 3.7s;
      -moz-animation: type 1s steps(60, end) 3.7s;
      -o-animation: type 1s steps(60, end) 3.7s;
      animation: type 1s steps(60, end) 3.7s; }
    .splash .text p:nth-child(2) {
      -webkit-animation: type2 .5s steps(60, end) 3.7s;
      -moz-animation: type2 .5s steps(60, end) 3.7s;
      -o-animation: type2 .5s steps(60, end) 3.7s;
      animation: type2 .5s steps(60, end) 3.7s; }

@-webkit-keyframes scale {
  100% {
    -webkit-clip-path: polygon(45vw 30vh, 55vw 30vh, 55vw 40vh, 45vw 40vh);
    clip-path: polygon(45vw 30vh, 55vw 30vh, 55vw 40vh, 45vw 40vh); } }

@-moz-keyframes scale {
  100% {
    -webkit-clip-path: polygon(45vw 30vh, 55vw 30vh, 55vw 40vh, 45vw 40vh);
    clip-path: polygon(45vw 30vh, 55vw 30vh, 55vw 40vh, 45vw 40vh); } }

@-o-keyframes scale {
  100% {
    -webkit-clip-path: polygon(45vw 30vh, 55vw 30vh, 55vw 40vh, 45vw 40vh);
    clip-path: polygon(45vw 30vh, 55vw 30vh, 55vw 40vh, 45vw 40vh); } }

@keyframes scale {
  100% {
    -webkit-clip-path: polygon(45vw 30vh, 55vw 30vh, 55vw 40vh, 45vw 40vh);
    clip-path: polygon(45vw 30vh, 55vw 30vh, 55vw 40vh, 45vw 40vh); } }

@-webkit-keyframes hide {
  100% {
    fill: transparent; } }

@-moz-keyframes hide {
  100% {
    fill: transparent; } }

@-o-keyframes hide {
  100% {
    fill: transparent; } }

@keyframes hide {
  100% {
    fill: transparent; } }

@-webkit-keyframes off {
  100% {
    opacity: 0; } }

@-moz-keyframes off {
  100% {
    opacity: 0; } }

@-o-keyframes off {
  100% {
    opacity: 0; } }

@keyframes off {
  100% {
    opacity: 0; } }

@-webkit-keyframes on {
  100% {
    opacity: 1; } }

@-moz-keyframes on {
  100% {
    opacity: 1; } }

@-o-keyframes on {
  100% {
    opacity: 1; } }

@keyframes on {
  100% {
    opacity: 1; } }

@-webkit-keyframes logo {
  100% {
    color: #292929; } }

@-moz-keyframes logo {
  100% {
    color: #292929; } }

@-o-keyframes logo {
  100% {
    color: #292929; } }

@keyframes logo {
  100% {
    color: #292929; } }

@-webkit-keyframes type {
  0% {
    width: 0; } }

@-moz-keyframes type {
  0% {
    width: 0; } }

@-o-keyframes type {
  0% {
    width: 0; } }

@keyframes type {
  0% {
    width: 0; } }

@-webkit-keyframes type2 {
  0% {
    width: 0; }
  50% {
    width: 0; }
  100% {
    width: 100; } }

@-moz-keyframes type2 {
  0% {
    width: 0; }
  50% {
    width: 0; }
  100% {
    width: 100; } }

@-o-keyframes type2 {
  0% {
    width: 0; }
  50% {
    width: 0; }
  100% {
    width: 100; } }

@keyframes type2 {
  0% {
    width: 0; }
  50% {
    width: 0; }
  100% {
    width: 100; } }

@-webkit-keyframes expand {
  0% { }
  25% {
    -webkit-clip-path: polygon(0vw 0vh, 55vw 30vh, 55vw 38vh, 45vw 38vh);
    clip-path: polygon(0vw 0vh, 55vw 30vh, 55vw 40vh, 45vw 40vh);
    fill: white; }
  50% {
    -webkit-clip-path: polygon(0vw 0vh, 100vw 0vh, 55vw 40vh, 45vw 40vh);
    clip-path: polygon(0vw 0vh, 100vw 0vh, 55vw 40vh, 45vw 40vh);
    fill: #d4b3ab; }
  75% {
    -webkit-clip-path: polygon(0vw 0vh, 100vw 0vh, 55vw 40vh, 0vw 100vh);
    clip-path: polygon(0vw 0vh, 100vw 0vh, 55vw 40vh, 0vw 100vh);
    fill: white; }
  100% {
    -webkit-clip-path: polygon(0vw 0vh, 100vw 0vh, 100vw 100vh, 0vw 100vh);
    clip-path: polygon(0vw 0vh, 100vw 0vh, 100vw 100vh, 0vw 100vh);
    fill: #d4b3ab; } }

@-moz-keyframes expand {
  0% { }
  25% {
    -webkit-clip-path: polygon(0vw 0vh, 55vw 30vh, 55vw 38vh, 45vw 38vh);
    clip-path: polygon(0vw 0vh, 55vw 30vh, 55vw 40vh, 45vw 40vh);
    fill: white; }
  50% {
    -webkit-clip-path: polygon(0vw 0vh, 100vw 0vh, 55vw 40vh, 45vw 40vh);
    clip-path: polygon(0vw 0vh, 100vw 0vh, 55vw 40vh, 45vw 40vh);
    fill: #d4b3ab; }
  75% {
    -webkit-clip-path: polygon(0vw 0vh, 100vw 0vh, 55vw 40vh, 0vw 100vh);
    clip-path: polygon(0vw 0vh, 100vw 0vh, 55vw 40vh, 0vw 100vh);
    fill: white; }
  100% {
    -webkit-clip-path: polygon(0vw 0vh, 100vw 0vh, 100vw 100vh, 0vw 100vh);
    clip-path: polygon(0vw 0vh, 100vw 0vh, 100vw 100vh, 0vw 100vh);
    fill: #d4b3ab; } }

@-o-keyframes expand {
  0% { }
  25% {
    -webkit-clip-path: polygon(0vw 0vh, 55vw 30vh, 55vw 38vh, 45vw 38vh);
    clip-path: polygon(0vw 0vh, 55vw 30vh, 55vw 40vh, 45vw 40vh);
    fill: white; }
  50% {
    -webkit-clip-path: polygon(0vw 0vh, 100vw 0vh, 55vw 40vh, 45vw 40vh);
    clip-path: polygon(0vw 0vh, 100vw 0vh, 55vw 40vh, 45vw 40vh);
    fill: #d4b3ab; }
  75% {
    -webkit-clip-path: polygon(0vw 0vh, 100vw 0vh, 55vw 40vh, 0vw 100vh);
    clip-path: polygon(0vw 0vh, 100vw 0vh, 55vw 40vh, 0vw 100vh);
    fill: white; }
  100% {
    -webkit-clip-path: polygon(0vw 0vh, 100vw 0vh, 100vw 100vh, 0vw 100vh);
    clip-path: polygon(0vw 0vh, 100vw 0vh, 100vw 100vh, 0vw 100vh);
    fill: #d4b3ab; } }

@keyframes expand {
  0% { }
  25% {
    -webkit-clip-path: polygon(0vw 0vh, 55vw 30vh, 55vw 38vh, 45vw 38vh);
    clip-path: polygon(0vw 0vh, 55vw 30vh, 55vw 40vh, 45vw 40vh);
    fill: white; }
  50% {
    -webkit-clip-path: polygon(0vw 0vh, 100vw 0vh, 55vw 40vh, 45vw 40vh);
    clip-path: polygon(0vw 0vh, 100vw 0vh, 55vw 40vh, 45vw 40vh);
    fill: #d4b3ab; }
  75% {
    -webkit-clip-path: polygon(0vw 0vh, 100vw 0vh, 55vw 40vh, 0vw 100vh);
    clip-path: polygon(0vw 0vh, 100vw 0vh, 55vw 40vh, 0vw 100vh);
    fill: white; }
  100% {
    -webkit-clip-path: polygon(0vw 0vh, 100vw 0vh, 100vw 100vh, 0vw 100vh);
    clip-path: polygon(0vw 0vh, 100vw 0vh, 100vw 100vh, 0vw 100vh);
    fill: #d4b3ab; } }
